.jumbotron {
    background-color: white;
}
.panel-primary>.panel-heading {
    color: black;
    background-color:#4CBD9D;
}
.well {
    background-color: #4CBD9D;
    border: 1px solid #337ab7;
    width: 100%
}