/* * Remove the default margin and padding from the body. */
/* body {
  padding: 0;
  margin: 0;
} */
/* Set map, body, and html to 100% of the screen size. */
/* #map,
body,
html {
  height: 100%;
}
h1 {
  text-align: center;
} */

#map {
position:relative;
border: 1px solid black;
border-radius: 8px;
height: 400px;
width: 100%
}

#gauge {
  position:relative;
  top: 10px;
  left: 5px;
  right: 200px;
  height: 350px;
  width: 100%
  }

#bar {
  position:relative;
  height: 100%;
  width: 100%
  }